
@font-face {
  font-family: Cascadia;
  src: url(fonts/Cascadia.ttf);
}
@font-face {
  font-family: silkscreen;
  src: url(fonts/silkscreen.ttf);
}
html, body {
  background: #44375e;
  background-size: cover;
  font-family: Cascadia;
}

@media {
  .button {
    background-color: #6f73af; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  .button:hover {
      cursor: pointer;
      background-color: #8387c4;
  }
  #signup {
    margin-top: 4vh;
  } 
#description{
  color: rgb(162, 189, 240);
  margin-top: 5vh;
  margin-left: 5vw;
  margin-right: 5vw;
  font-size:1.4vw;
}
#info-text {
    padding: 5vw 10vw;
}
.middle {
	text-align: center;
}
#window{
	width: 60%;
    max-width: 750px;
	margin-top: 6vw;
	margin-left: auto;
	margin-right: auto;
	display: block;
    box-shadow:  0 10px 10px 10px rgba(0, 0, 0, 0.05);
}

#title_banner{
    margin-top: 5%;
	width: 75%;
}
#schedule-text-header{
  margin-top:3vh;
  font-size: 4.5vw;/*2.5em; /* 40px/16=2.5em */
  color: white
}
.schedule-date{
  margin-top:3vh;
  color: white;
  font-size: 3vw;
}

.schedule-text{
  color: rgb(162, 189, 240);
  font-size: 1.5vw
}

#FAQ-text-header{
  margin-top:5vh;
  font-size: 4.5vw;/*2.5em; /* 40px/16=2.5em */
  color: white
}
dt {  margin-top: 20px; color: white;}


}