
@font-face {
  font-family: Cascadia;
  src: url(fonts/Cascadia.ttf);
}
@font-face {
  font-family: silkscreen;
  src: url(fonts/silkscreen.ttf);
}
html, body {
  background: #44375e;
  background-size: cover;
  font-family: Cascadia;
}

@media {
  .button {
    background-color: cornflowerblue; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
  }
  #signup {
    margin-top: 4vh;
  } 
#description{
  color: cornflowerblue;
  margin-top: 5vh;
  margin-left: 2vw;
  margin-right: 2vw;
  font-size:1.4vw;
}
.middle {
	text-align: center;
}
#window{
	width: 50%;
	margin-top: 1vh;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#title_banner{
    margin-top: 0%;
	width: 75%;
}
#schedule-text-header{
  margin-top:5vh;
  font-size: 4.5vw;/*2.5em; /* 40px/16=2.5em */
  color: white
}
.schedule-date{
  margin-top:3vh;
  color: white;
  font-size: 3vw;
}

.schedule-text{
  color: cornflowerblue;
  font-size: 1.5vw
}

#FAQ-text-header{
  margin-top:5vh;
  font-size: 4.5vw;/*2.5em; /* 40px/16=2.5em */
  color: white
}
dt {  margin-top: 20px; color: white;}


}