
@font-face {
  font-family: Cascadia;
  src: url(fonts/Cascadia.ttf);
}
@font-face {
  font-family: silkscreen;
  src: url(fonts/silkscreen.ttf);
}
html, body {
  background: #44375e;
  background-size: cover;
  font-family: Cascadia;
}

@media {
.middle {
	text-align: center;
}
#window{
	width: 50%;
	margin-top: 9%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#title_banner{
    margin-top: 5%;
	width: 75%;
}
}